import {navigate} from "../../router.js";

class {
    handleClick(event) {
        navigate(this.input.path);
    }
}

style {
    .routerLink {
        display: content;
    }
}

div on-click('handleClick')
    <${input.renderBody}/>